

<div *ngIf="cryptoData">
    <div class="crypto-span">CryptoData</div>
  <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptoData)">
    <span class="left">{{ crypto }}</span>
    <span class="right">USD {{ cryptoData[crypto].USD | currency:'USD' }}, EUR {{ cryptoData[crypto].EUR | currency:'EUR' }}</span>
  </div>
<div class="crypto-span">
    <a target="_blank" rel="nofollow" href="https://coingate.com/pay/qadeer19"><img alt="CoinGate Payment Button" src="https://static.coingate.com/images/buttons/2.png" /></a>
</div>
</div>
