div#crypto-container {
    background:white;
    width: 70%;
    margin: 0 auto 4px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 lightgrey;
  }
  
  span.left {
    font-weight: bold;
  }
  
  span.right {
    float:right;
  }
div .crypto-span{
  background: rgb(199, 134, 134);
  width: 70%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 lightgrey;
  text-align: center;
  font-weight: bold;
  font-size: 29px;
}